html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 200px; */
    margin-bottom: 20px;    
}

.modal-form label {
    margin-bottom: 10px;
}

.modal-input {
    box-sizing: border-box;
    width: 50px;
}

.button {
    min-width: 50px;
    padding: 10px 20px;
}

.game-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    padding: 20px 50px;
}

.fighter-option {
    display: block;
    width: 80px;
    text-align: center;
    background-color: grey;
}

.fight {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
}

.loader {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid rgb(172, 171, 171);
    border-left-color: transparent;
    border-radius: 50%;
    animation: load 1s infinite both;
}

.reverse img {
    transform: rotateY(180deg);
}

.damage {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;

    font-size: 30px;
    font-weight: bold;
    color: red;
}

@keyframes load {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}